@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

body {
  background-color: #f1f1f1;
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
  background-color: #f1f1f1;
}

.home {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0px;
  margin-bottom: 80px;
  position: relative;
}

.home h1 {
  font-size: 35px;
  font-weight: 800;
  right: 550px;
  color: white;
  position: relative;
  transform: translateX(200%);
}

#fondo {
  object-fit: cover;
  width: 1450px;
  position: absolute;
  top: -110px;
  left: 0;
  z-index: -3;
}

.degradado {
  height: 300px;
  width: 100vw;
  background: linear-gradient(
    to right top,
    #05193799,
    #004d7a99,
    #00879399,
    #a900bf99,
    #eb12d999
  );
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: -2;
}

.logo {
  display: flex;
  flex-direction: row;
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

.logo p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.LogoAda {
  width: 23px;
}

#LogoAda {
  width: 100%;
}

.carrito {
  display: flex;
  flex-direction: row;
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carrito p {
  font-size: 18px;
  font-weight: 300;
  display: inline;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.37);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  overflow: hidden;
}

.menu-compra {
  width: 400px;
  height: 100vh;
  background-color: white;
  position: absolute;
  right: -400px;
  top: 0;
  z-index: 2;
  transition: 0.3s ease-out;
}

.overlay:hover .menu-compra {
  transform: translateX(-380px);
}

/*
.ver-menu-compra {
  transform: translateX(-800px);
}
*/

.menu-compra p {
  position: relative;
  left: 20px;
  top: 10px;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  margin-bottom: 40px;
}

.productos-agregados {
  height: 50%;
  overflow-y: scroll;
  width: 95%;
}

.carrito-footer {
  position: fixed;
  width: 100%;
  height: auto;
  bottom: 0px;
  display: flex;
  flex-direction: column;
}

.subtotal-carrito {
  margin-bottom: 30px;
  font-size: 18px;
}

.carrito-footer > .botones-comprar-vaciar {
  margin-bottom: 25px;
  margin-top: 0px;
}

.carrito-footer button {
  margin: 5px 20px 5px 20px;
  border: none;
  width: 340px;
  height: 50px;
  border-radius: 5px;
  padding: 15px;
}

.carrito-footer p {
  font-size: 18px;
  display: inline;
}

#carrito-comprar #carrito-vaciar {
  margin: 0px;
  font-size: 12px;
}

#carrito-comprar {
  background-color: #43a047;
  color: white;
}

#carrito-vaciar {
  color: red;
  border: solid red 1px;
  background-color: white;
}

#carrito-comprar:hover {
  background-color: #39eb41;
  border: none;
  transition: 0.2s;
}

#carrito-vaciar:hover {
  color: white;
  background-color: red;
  transition: 0.2s;
}

.menu-compra > #descripcion-carrito {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.fa-times-circle {
  font-size: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.modal-vaciar {
  width: 550px;
  height: 330px;
  background-color: white;
  position: absolute;
  top: 180px;
  left: 380px;
  margin: auto;
  z-index: 5;
  border-radius: 3px;
}

.overlay-vaciar {
  z-index: 4;
  width: 100vw;
  height: 100vh;
  background-color: rgba(141, 128, 128, 0.37);
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  transition: all 5s;
}

.modal-vaciar > p {
  margin: 50px 50px 0px 50px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.botones-vaciar {
  margin: 80px 20px 0px 60px;
}

.botones-vaciar > button {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  padding: 15px;
  margin: 5px;
}

.botones-vaciar > .cancelar {
  border: solid grey 2px;
  background-color: white;
  color: grey;
}

.botones-vaciar > .vaciar {
  color: white;
  border: solid red 1px;
  background-color: rgb(190, 0, 0);
}

.botones-vaciar p {
  margin: 0px;
  font-size: 15px;
}

.cancelar:hover {
  background-color: #e2e5e2;
  border: none;
  transition: 0.1s;
}

.vaciar:hover {
  color: white;
  background-color: red;
  transition: 0.1s;
}

.modal-compra {
  background-color: rgba(15, 15, 15, 0.342);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 1;
}

.checkout {
  background-color: white;
  width: 800px;
  height: 100vh;
  position: absolute;
  margin-left: 250px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.checkout p {
  font-family: "Montserrat", sans-serif;
}

.contenedor-datospersonales-y-pago {
  display: flex;
  height: 80%;
  padding: 30px 35px 30px 45px;
}

.datos-personales-y-pago {
  width: 60%;
}

.info-personal {
  width: 370px;
  height: 45%;
  border-bottom: 1px rgb(228, 227, 227) solid;
}

.info-personal p {
  margin: 0px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 18px;
  padding-top: 10px;
}

.info-personal label {
  font-size: 14px;
  font-weight: 300;
  display: block;
}

.info-personal input {
  border: none;
  border-bottom: 1px grey solid;
  width: 80%;
  padding-top: 10px;
}

.info-personal ::placeholder {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.pago-y-envio {
  margin-top: 30px;
}

.opciones-pago {
  height: 45%;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
}

.opciones-pago p {
  margin: 30px 0px 30px 0px;
  font-weight: 700;
  font-size: 18px;
}

.opciones-lista label {
  font-size: 14px;
  font-weight: 300;
  display: block;
  padding-top: 8px;
}

.ref-opciones {
  padding-top: 95px;
  text-align: right;
  font-size: 12px;
}

.ref-opciones li {
  margin: 18px;
  list-style-type: none;
  color: red;
}

.ref-opciones li:nth-of-type(3) {
  color: green;
}

.resumen {
  background-color: #f5f5f5;
  width: 40%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding-left: 18px;
}

.resumen-titulo {
  height: 75%;
  font-size: 20px;
  font-weight: 700;
}

.resumen-subtotal {
  font-size: 16px;
}

.resumen-total {
  font-size: 25px;
  font-weight: 900;
}

.resumen-subtotal p span {
  margin: 12px;
  display: inline;
}

.resumen-total p span {
  margin: 12px;
  display: inline;
}

.resumen-subtotal p:nth-of-type(2) {
  color: red;
}

.resumen-subtotal p:nth-of-type(4) {
  color: green;
}


.botones-checkout {
  background-color: white;
  height: 20%;
  position: relative;
}

.botones-checkout > .seguir {
  border: solid #f5f5f5 2px;
  background-color: #f5f5f5;
  position: absolute;
  top: 40px;
  right: 250px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  padding: 15px;
}

.botones-checkout > .finalizar {
  border: solid #43a047 2px;
  background-color: #43a047;
  position: absolute;
  top: 40px;
  right: 30px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  padding: 15px;
  color: #fcfcfc;
}

.botones-checkout p {
  margin: 0px;
  font-size: 12px;
}

.finalizar:hover {
  background-color: #3bca42;
  border: none;
}

.seguir:hover {
  background-color: #4585fc;
  color: white;
}

.principal {
  display: flex;
  flex-direction: row;
  margin: 0px;
}

.menu {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  padding: 18px;
  padding-top: 0px;
  margin-left: 10px;
  transition: 0.3s ease-out;
}

.titulo {
  font-size: 15px;
  font-weight: 600;
}

.filtro {
  display: flex;
  width: 200px;
  padding: 15px 15px 15px 10px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.filtro > #f {
  font-size: 18px;
  font-weight: 700;
  flex-grow: 3;
}

.hidden {
  display: none;
}

#l {
  flex-grow: 1;
  display: flex;
  font-size: 12px;
  font-weight: 300;
  justify-content: space-around;
  align-items: center;
}

#trash {
  color: black;
  font-size: 15px;
  margin-top: 0px;
  margin-right: 0px;
}

#limpieza {
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
}

.busqueda {
  display: flex;
  padding: 10px 10px 10px 10px;
  flex-direction: column;
}

.busqueda .titulo {
  margin-bottom: 20px;
}

#search {
  width: 180px;
  border: none;
  border-bottom: solid 2px rgb(70, 69, 69);
  height: 30px;
  background-color: #f1f1f1;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  padding-bottom: 5px;
  padding-left: 20px;
}

#lupa {
  position: relative;
  top: -30px;
  left: 170px;
}

.categoria {
  display: flex;
  padding: 10px 10px 20px 10px;
  flex-direction: column;
}

.categoria > .titulo {
  margin-bottom: 12px;
}

.contenedor-items {
  display: flex;
  flex-direction: column;
}

.cat-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cat-item > p {
  font-size: 12px;
  margin: 0px;
  margin-right: 10px;
  font-weight: 500;
}

.cat-item > input {
  margin-right: 10px;
}

.cat-item .grupo {
  margin-right: 10px;
}

.puntaje {
  display: flex;
  padding: 10px 10px 20px 10px;
  flex-direction: column;
}

.puntaje > .titulo {
  margin-bottom: 12px;
}

.fa-star {
  color: #f1c410;
  font-size: 12px;
}

.shop {
  flex: 1;
  margin: 0px 5px 0px 5px;
}

.vista-productos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px;
  margin: 0px 10px 10px 10px;
  background-color: white;
}

.vista-productos p {
  font-size: 15px;
  font-weight: 300;
}

.menu-vistas {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 180px;
  justify-content: space-evenly;
  border-radius: 3px;
}

#grid {
  width: 20px;
}

#list {
  width: 20px;
}


/************************************ TARJETAS DE PRODUCTO *****************************************/

.item {
  width: 340px;
  height: 130px;
  margin: 5px 10px 5px 10px;
  display: flex;
  border: solid rgb(218, 216, 216) 1px;
  border-radius: 6px;
}

.carr-img {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carr-desc {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.titulo-prod {
  height: 40%;
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
}

.titulo-prod p {
  font-weight: 600;
  font-size: 18px;
  display: inline;
  margin: 3px 0px 0px -10px;
}

.carr-unidades {
  height: 70%;
  display: flex;
  align-items: center;
}

.carr-input {
  margin: 0px;
  width: 60%;
}

.carr-input input {
  width: 70px;
  height: 30px;
  padding: 0px;
  margin: 0px 0px 0px 10px;
}

.carr-input p {
  margin: -8px 0px 10px -10px;
  font-weight: 300;
  font-size: 15px;
}

.unid-finales {
  width: 40%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#unid-finales {
  margin: 10px 0px 0px 10px;
}

.carr-img > img {
  width: 60%;
  height: auto;
  
}

#play{
  width: 100%;
  height: auto;
  margin-left: 5px;
}

.fa-trash-alt {
  color: red;
  margin-top: 15px;
  margin-right: 15px;
}

/*********************************** MODAL VACIAR CARRITO *********************************/

/*---------------------------------- CATALOGO VISTA GRILLA  ------------------------------*/

.catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 20px 0px 100px 0px;
}

.tarjeta {
  background-color: white;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 45px 50px 45px;
  border-radius: 3px;
  transition: box-shadow 0.1s, transform 0.3s ease-out;
}

.tarjeta img {
  transition: transform 0.6s ease-out;
}

.tarjeta:hover {
  transform: scale(1.04);
  box-shadow: 0px 0px 9px 1px #aeb0b2;
}

.tarjeta:hover .comprar {
  background-color: rgb(250, 228, 28);
  font-weight: 900;
  font-size: 13px;
  color: rgb(53, 53, 53);
}

.tarjeta:hover img {
  transform: scale(1.1);
}

.hidden {
  display: none;
}

.foto-producto {
  width: 215px;
  height: 215px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-prd {
  height: 100%;
}

.desc-producto {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

.title,
.precio,
.calificacion {
  padding: 5px;
  margin: 0px;
}

.title > p {
  margin: 0px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  max-width: 180px;
}
.precio > p {
  margin: 0px;
  font-size: 15px;
  font-weight: 300;
}
.calificacion > p {
  margin: 0px;
}

.calificacion {
  margin: 10px;
}

.stars {
  display: flex;
  flex-direction: row;
}

#starfull {
  width: 18px;
}

#starvacia {
  width: 18px;
}

.comprar {
  background-color: rgb(243, 243, 243);
  font-size: 13px;
  font-weight: 400;
  width: 180px;
  align-self: stretch;
  padding: 18px;
  text-align: center;
  margin-top: 10px;
  transition: all 0.2s;
  border: none;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
}

.comprar > p {
  margin: 0px;
}

#cam {
  height: 90%;
}

#mac {
  height: 70%;
}

/*-------------------------- VISTA LISTA estilos --------------------------- */

.catalogo-lista {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px 0px 100px 0px;
}

.catalogo-lista .tarjeta {
  background-color: white;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px 40px 15px 40px;
  border-radius: 3px;
  transition: box-shadow 0.1s, transform 0.3s ease-out;
}

.detalles-lista {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 65%;
}


.catalogo-lista .texto-descriptivo {
  font-size: 15px;
  font-weight: 200;
  padding: 2px;
  margin: 0px 0px 0px 0px;
}

.catalogo-lista .foto-producto {
  height: 230px;
  margin-right: 15px;
  margin-top: 15px;
}

.catalogo-lista .img-prd {
  height: 100%;
}

.catalogo-lista .calificacion {
  padding: 0px;
  margin: 0px 0px 0px 0px;
}

.catalogo-lista .tarjeta img {
  transition: transform 0.6s ease-out;
}

.catalogo-lista .tarjeta:hover img {
  transform: scale(1.07);
}

.catalogo-lista .comprar {
  width: 200px;
  padding: 15px 8px 15px 8px;
  margin: 30px 0px 15px 0px;
}

.catalogo-lista .tarjeta:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 9px 1px #aeb0b2;
}

.catalogo-lista #cam {
  height: 80%;
}

.catalogo-lista #mac {
  height: 60%;
}

.catalogo-lista #play {
  height: 85%;
}

.catalogo-lista .hidden{
  display: none;
}

/*-- ------------------------ FOOTER  --------------------------- */

.foot {
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.foot > div {
  margin: 10px;
}

footer p {
  font-size: 15px;
  font-weight: 300;
}

.fa-heart {
  color: green;
}

/* *******************************************************************************************/

.ico-filtros-responsive {
  display: none;
}

.fil-responsive {
  display: none;
}

.ver-filtros-responsive {
  transform: translateX(-280px)
}

.fondo-blanco-responsive {
  background-color: white;
}

/*************************************  MEDIA QUERIES  ***************************************/

/*
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }
*/

/*************************************************************/

@media (max-width: 800px) {

  .menu-vistas {
    display: none;
  }


  .ico-filtros-responsive {
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 110px;
    justify-content: space-evenly;
    border-radius: 3px;
  }

/*
  .menu {
    position: absolute;
    top: 100px;
    right: -280px;
  }
  */

  body {
    overflow-x: hidden ;
  }

  .fil-responsive {
    width: 300px;
    height: 400px;
    background-color: rgba(51, 51, 175, 0.5);
    position: absolute;
    right: 10px;
    display: block;
  }

 
}

/*************************************************************/

@media (max-width: 576px) {
  .vista-productos {
    padding: 15px;
  }

  #vista-productos p {
    font-size: 13px;
    font-weight: 300;
    max-width: 120px;
  }

  .ico-filtros-responsive p {
    font-size: 13px;
    font-weight: 300;
  }

  .tarjeta {
    flex-grow: 1;
  }
}

/**************************** NUESTRO AMIGO HIDDEN *******************************/

.hidden {
  display: none;
}

.no-scroll {
  overflow-y: hidden;
}